
<!DOCTYPE html>
<html lang="en">
    <head>
    
        <title>my_account</title>
    
        <!-- BoxIcons v2.1.2 -->
        <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet">
    
        <!-- Roboto Font -->
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    
        <!-- CSS File -->
        <link rel="stylesheet" href="../static/css/my_account.css">

    </head>
    
    <body>
      <div class="main">
        <div class="profile">
          <div class="profile-photo" id="profilePhoto">
            <span class="p-p">E</span>
           
          </div><br>
          
          <div class="email">Email: {{ email }}</div><br>
          <div class="username"> Username: {{ username }}</div><br>
          <div class="role">Role: {{ role }}</div><br>

          </div>
        </div>
       
        <div class="sidebar">
    
            <div class="toggle">
                <i class="bx bx-chevron-right"></i>
            </div>
    
            <div class="logo">
                <img src="../static/Images/exf_logo.jpg" alt="...">
                <h3>"Seamless Flow, Endless Growth."</h3>
            </div>
    
            <nav>
                <div class="nav-title">
                    MENU
                </div>
                <ul>
                    <li class="nav-item active" data-page="dashboard">
                        <i class="bx bxs-dashboard"></i>
                        <span>Dashboard</span>
                    </li>
                    <li class="nav-item" data-page="my_account">
                        <i class="bx bxs-user"></i>
                        <span>My Account</span>
                    </li>
                    <li class="nav-item" data-page="myshipment">
                        <i class="bx bxs-wallet"></i>
                        <span>My Shipment</span>
                    </li>
                    <li class="nav-item" data-page="createshipment">
                        <i class="bx bxs-truck"></i>
                        <span>New Shipment</span>
                    </li>
                    <li class="nav-item" data-page="datastream">
                        <i class="bx bxs-save"></i>
                        <span>Device Data</span>
                    </li>
                    <li class="nav-item" data-page="logout" onclick="clearAccessToken()">
                        <i class="bx bx-log-out"></i>
                        <span>Logout</span>
                    </li>
                </ul>
    
            </nav>

        </div>
        
        <!-- JS File -->
    <script src="../static/js/my_account.js"></script>
    </body>
    </html>