
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/newpassword.css">
   
    <title>newpassword</title>
    <style>
    
</style>

<body>
  
    <div id="container" class="container">
        <!-- FORM SECTION -->
        <div class="row">
            <!-- SIGN UP -->
            <div class="col align-items-center flex-col sign-up">
                <div class="form-wrapper align-items-center">
                    <div class="form sign-up">
                
                    <p>
                        <span>
                            Already have an account?
                        </span>
                        

                        <p onclick="toggle()" class="pointer sign">
                            Sign in here
                    </p>
                            
                        </p>
                    </div>
                </div>
        
            </div>
            <!-- END SIGN UP -->
            <!-- SIGN IN -->
            <div class="col align-items-center flex-col sign-in">
                <div class="form-wrapper align-items-center">
                     <!-- Replace the existing sign-in form with the new password form -->
                <form action="/newpassword" autocomplete="off" method="post" required>
                    <div id="passwordForm">
                        {% if message %}
                        <p id="success-message" style="color: green; font-size:10px;">{{ message }}</p>
                    {% endif %}
                  
                        <div class="password-field">
                           <label for="emailField" required>Email:</label>
                           <input type="email" id="email" name="email" required>
                         </div>
                         <br>
                         <div class="password-field">
                           <label for="password" required>New Password:</label>
                           <input type="password" id="password" name="password" required >
                         </div><br>
       
                         <div class="password-field">
                           <label for="confirmNewPasswordField">Confirm Password:</label>
                           <input type="password" id="confirmpassword" name="confirmpassword"  required >
                         </div>
                         <br><br>
                           <input type="checkbox" id="showPasswordCheckbox" onclick="togglePasswordVisibility()">
                           <label for="showPasswordCheckbox"  style="font-size: 10px;" >Show Password</label>
                          
                            <div id="error-message" class="error-message">
                                <p>{{ error_message }}</p>
                            </div>


                           <button type="submit" id="createButton">Create New Password</button>
                           <p id="successMessage" class="success-message"></p>
                           
                       </div>
                       <!-- End of new password form -->
                    </div>
                </form>
               

            <!-- END SIGN IN -->
        </div>
        <!-- END FORM SECTION -->
        <!-- CONTENT SECTION -->
        <div class="row content-row">
            <!-- SIGN IN CONTENT -->
            
                <div class="text sign-in">
                    <h2 >
                        "A stronger password for a safer path."
                    </h2>
    
                </div>
            
        </div>
        <!-- END CONTENT SECTION -->
    </div>       
    <script src="../static/js/newpassword.js"></script>
</body>
</html>







