
<!DOCTYPE html>
<html lang="en">
    <head>
        
        <title>Unauthorized</title>
         <!-- CSS File -->
         <link rel="stylesheet" href="../static/css/unauthorized.css">
    </head>   


    <body>

        <section class="forbidden">
            <h3>403</h3>
            <p>Sorry, you are not authorized to access this page.</p>
           
        </section>
        <script>
            setTimeout(function(){
                window.location.href = "/dashboard";
            }, 2000);
        </script>

 
</body>
</html>