
<!DOCTYPE html>
<html lang="en">
    <head>
    
        <title>createshipment</title>
    
        <!-- BoxIcons v2.1.2 -->
        <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet">
    
        <!-- Roboto Font -->
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    
        <!-- CSS File -->
        <link rel="stylesheet" href="../static/css/createshipment.css">

    </head>

    <body>
        <div class="container">
       

            <div class="centered-container">
                <h2>Create New Shipment</h2>
                <h4>Please fill in all the details.</h4>
            </div>

            <form action="/createshipment" method="POST" id="shipment-form">
        
                <div class="form-container">
                    <div class="info-box">
                        <div class="form-group">
                            <label for="ShipmentNumber">Shipment Number<span class="red-asterisk">*</span>:</label>
                            <input type="text" id="shipment_number" name="shipment_number" required>
                        </div>
        
                        <div class="form-group">
                            <label for="RouteDetails">Route Details<span class="red-asterisk">*</span>:</label>
                            <select id="route_details" name="route_details" required>
                                <option value="" disabled selected>Select Route</option>
                                <option value="in">India</option>
                                <option value="us">United States</option>
                                <option value="ca">Canada</option>
                                <option value="uk">United Kingdom</option>
                            <!-- Add more countries as needed -->
                            </select>
                        </div>
        
                        <div class="form-group">
                            <label for="Device">Device<span class="red-asterisk">*</span>:</label>
                            <select id="device" name="device" required>
                                <option value="" disabled selected>Select Device</option>
                                <option value="in">India</option>
                                <option value="us">United States</option>
                                <option value="ca">Canada</option>
                                <option value="uk">United Kingdom</option>
                            <!-- Add more countries as needed -->
                            </select>
                        </div>
        
                        <div class="form-group">
                            <label for="PONumber">PO Number<span class="red-asterisk">*</span>:</label>
                            <input type="text" id="po_number" name="po_number" required>
                        </div>
        
                        <div class="form-group">
                            <label for="NDCNumber">NDC Number<span class="red-asterisk">*</span>:</label>
                            <input type="text" id="ndc_number" name="ndc_number" required>
                        </div>
        
                        <div class="form-group">
                            <label for="SerialNumber">Serial number of Goods<span class="red-asterisk">*</span>:</label>
                            <input type="text" id="serial_number" name="serial_number" required>
                        </div>
                    </div>
        
                    <div class="info-box">
                        <div class="form-group">
                            <label for="ContainerNumber">Container Number<span class="red-asterisk">*</span>:</label>
                            <input type="text" id="container_number" name="container_number" required>
                        </div>
        
                        <div class="form-group">
                            <label for="GoodsType">Goods Type<span class="red-asterisk">*</span>:</label>
                            <select id="goods_type" name="goods_type" required>
                                <option value="" disabled selected>Select Goods</option>
                                <option value="us">Electronics</option>
                                <option value="ca">Medicals</option>
                            <!-- <option value="uk">United Kingdom</option> -->
                            <!-- Add more countries as needed -->
                            </select>
                        </div>
        
                        <div class="form-group">
                            <label for="DeliveryNumber">Delivery Number<span class="red-asterisk">*</span>:</label>
                            <input type="text" id="delivery_number" name="delivery_number" required>
                        </div>
        
                        <div class="form-group">
                            <label for="PickupDate">Pickup Date<span class="red-asterisk">*</span>:</label>
                            <div class="date-box">
                                <input type="date" id="pickup_date" name="pickup_date" required>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="BatchId">Batch Id<span class="red-asterisk">*</span>:</label>
                            <input type="text" id="batch_id" name="batch_id" required>
                        </div>
        
                        <div class="form-group">
                            <label for="ShipmentDescription">Shipment Description<span class="red-asterisk">*</span>:</label>
                            <input type="text" id="shipment_description" name="shipment_description" required>
                        </div>
                    </div>
                </div>
        
                <div class="footer form-footer">
                    <button id="create-button" type="submit" class="create-button" onclick="createSomething()">Create</button>
                    <button id="clear-button" type="reset" class="clear-button">Clear</button>
                </div>
            </form>
            <!-- Card-like element-->
            <div id="quickCard" style="display: none;">
                <h2>Shipment Information</h2>
                <p id="ShipmentNumber"></p>
                <p id="RouteDetails"></p>
                <p id="Device"></p>
                <p id="PONumber"></p>
                <p id="NDCNumber"></p>
                <p id="SerialNumber"></p>
                <p id="ContainerNumber"></p>
                <p id="GoodsType"></p>
                <p id="DeliveryNumber"></p>
                <p id="PickupDate"></p>
                <p id="BatchId"></p>
                <p id="ShipmentDescription"></p>


                <!-- Add other fields as needed -->
                
            </div>
        
            <div class="sidebar">
        
                <div class="toggle">
                    <i class="bx bx-chevron-right"></i>
                </div>
        
                <div class="logo">
                    <img src="../static/Images/exf_logo.jpg" alt="...">
                    <h3>"Seamless Flow, Endless Growth."</h3>
                </div>
        
                <nav>
                    <div class="nav-title">
                        MENU
                    </div>
                    <ul>
                        <li class="nav-item active" data-page="dashboard">
                            <i class="bx bxs-dashboard"></i>
                            <span>Dashboard</span>
                        </li>
                        <li class="nav-item" data-page="my_account">
                            <i class="bx bxs-user"></i>
                            <span>My Account</span>
                        </li>
                        <li class="nav-item" data-page="myshipment">
                            <i class="bx bxs-wallet"></i>
                            <span>My Shipment</span>
                        </li>
                        <li class="nav-item" data-page="createshipment">
                            <i class="bx bxs-truck"></i>
                            <span>New Shipment</span>
                        </li>
                        <li class="nav-item" data-page="datastream">
                            <i class="bx bxs-save"></i>
                            <span>Device Data</span>
                        </li>
                        <li class="nav-item" data-page="logout" onclick="clearAccessToken()">
                            <i class="bx bx-log-out"></i>
                            <span>Logout</span>
                        </li>
                    </ul>
        
                    
        
                </nav>
             
        
            </div>

        </div>
    
        <!-- JS File -->
      
        <script>
            const sidebar = document.querySelector('.sidebar');
            const navItems = document.querySelectorAll('nav .nav-item');
            const toggle = document.querySelector('.sidebar .toggle');
    
            toggle.addEventListener('click', () => {
                if (sidebar.className === 'sidebar')
                    sidebar.classList.add('open');
                else
                    sidebar.classList.remove('open');
            });
    
            navItems.forEach(navItem => {
                navItem.addEventListener('click', () => {
                    
                    navItems.forEach(item => {
                        item.classList.remove('active');
                    });
                    navItem.classList.add('active');
    
                    const pageURL = navItem.getAttribute('data-page');
                    if (pageURL) {
                        window.location.href = pageURL;
                    }
                });
            });


function createSomething() {
  document.getElementById("create-button").innerHTML = "Created";
//   document.getElementById("quickCard").style.display = "block";

        // Hide the card after 5000 milliseconds (5 seconds)
        // setTimeout(() => {
        //     document.getElementById("quickCard").style.display = "none";
        // }, 5000);
}


  const shipmentForm = document.getElementById("shipment-form");
        const quickCard = document.getElementById("quickCard");
        shipmentForm.addEventListener("submit", async (e) => {
            e.preventDefault();
            const formData = new FormData(shipmentForm);
            const response = await fetch("/createshipment", {
                method: "POST",
                body: formData,
            });
            
if (!response.ok) {
    console.error('Error in server response:', response.statusText);
    return;
}
            const data = await response.json();
            console.log(data);

            // Update the quick card with the response data
            document.getElementById("ShipmentNumber").textContent = `Shipment Number: ${data.ShipmentNumber}`;
            document.getElementById("RouteDetails").textContent = `Route Details: ${data.RouteDetails}`;
            document.getElementById("Device").textContent = `Device: ${data.Device}`;
            document.getElementById("PONumber").textContent = `PO Number: ${data.PONumber}`;
            document.getElementById("NDCNumber").textContent = `NDC Number: ${data.NDCNumber}`;
            document.getElementById("SerialNumber").textContent = `Serial Number: ${data.SerialNumber}`;
            document.getElementById("ContainerNumber").textContent = `Container Number: ${data.ContainerNumber}`;
            document.getElementById("GoodsType").textContent = `Goods Type: ${data.GoodsType}`;
            document.getElementById("DeliveryNumber").textContent = `Delivery Number: ${data.DeliveryNumber}`;
            document.getElementById("PickupDate").textContent = `Pickup Date: ${data.PickupDate}`;
            document.getElementById("BatchId").textContent = `Batch Id: ${data.BatchId}`;
            document.getElementById("ShipmentDescription").textContent = `Shipment Description: ${data.ShipmentDescription}`;
            quickCard.style.display = "block";
        });
 
  
            //logout....

            function clearAccessToken() {
                console.log('Clearing access token');

    // Make a request to your logout endpoint
    fetch('/logout')
        .then(response => {
            if (response.ok) {
                // Redirect to the home page after successful logout
                window.location.href = '/';
            } else {
                console.error('Failed to logout');
            }
        })
        .catch(error => console.error('Error during logout:', error));
}

        </script>
    
    </body>
</html>
