
<!DOCTYPE html>
<html lang="en">
<head>
    
        <title>Data Stream</title>
    
        <!-- BoxIcons v2.1.2 -->
        <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet">
    
        <!-- Roboto Font -->
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    
        <!-- CSS File -->
        <link rel="stylesheet" href="../static/css/myshipment.css">
       
    </head>
    
    <body>
        
        <div id="header">
            <h1>My Shipment</h1>
        </div>
        <div>
            <div class="table-container">
                 <table id="shipmentTable">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Shipment Number</th>
                         
                            <th>Route Details</th>
                            <th>Device</th>
                            <th>Po Number</th>
                            <th>NDC Number</th>
                            <th>Serial Number</th>
                            <th>Container Number</th>
                            <th>Goods Type</th>
                            <th>Delivery Number</th>
                            <th>Pickup Date</th>
                            <th>Batch Id</th>
                            <th>Shipment Description</th>
                                
                        </tr>
                    </thead>
                    {%for i in shipment_data %}
                    <tbody>
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{i.ShipmentNumber}}</td>
                            
                            <td>{{i.RouteDetails}}</td>
                            <td>{{i.Device}}</td>
                            <td>{{i.PONumber}}</td>
                            <td>{{i.NDCNumber}}</td>
                            <td>{{i.SerialNumber}}</td>
                            <td>{{i.ContainerNumber}}</td>
                            <td>{{i.GoodsType}}</td>
                            <td>{{i.DeliveryNumber}}</td>
                            <td>{{i.PickupDate}}</td>
                            <td>{{i.BatchId}}</td>
                            <td>{{i.ShipmentDescription}}</td>
                        </tr>
                    </tbody>
                    {%endfor%}
                </table></div>

                        
        <div class="sidebar">
                
            <div class="toggle">
                <i class="bx bx-chevron-right"></i>
                </div>
                
                <div class="logo">
                    <img src="../static/Images/exf_logo.jpg" alt="...">
                    <h3>"Seamless Flow, Endless Growth."</h3>
                </div>
                
                <nav>
                    <div class="nav-title">
                         MENU
                    </div>
                    <ul>
                        <li class="nav-item active" data-page="dashboard">
                            <i class="bx bxs-dashboard"></i>
                            <span>Dashboard</span>
                        </li>
                        <li class="nav-item" data-page="my_account">
                            <i class="bx bxs-user"></i>
                            <span>My Account</span>
                        </li>
                        <li class="nav-item" data-page="myshipment">
                            <i class="bx bxs-wallet"></i>
                            <span>My Shipment</span>
                        </li>
                        <li class="nav-item" data-page="createshipment">
                            <i class="bx bxs-truck"></i>
                            <span>New Shipment</span>
                        </li>
                        <li class="nav-item" data-page="datastream">
                            <i class="bx bxs-save"></i>
                            <span>Device Data</span>
                        </li>
                        <li class="nav-item" data-page="logout">
                            <i class="bx bx-log-out"></i>
                            <span>Logout</span>
                        </li>    
                    </ul>
                
                            
                
                </nav>
            </div>    
        </div>
         <!-- JS File -->
        
         <script>
            const sidebar = document.querySelector('.sidebar');
            const navItems = document.querySelectorAll('nav .nav-item');
            const toggle = document.querySelector('.sidebar .toggle');
    
            toggle.addEventListener('click', () => {
                if (sidebar.className === 'sidebar')
                    sidebar.classList.add('open');
                else
                    sidebar.classList.remove('open');
            });
    
            navItems.forEach(navItem => {
                navItem.addEventListener('click', () => {
                    navItems.forEach(item => {
                        item.classList.remove('active');
                    });
                    navItem.classList.add('active');
    
                    const pageURL = navItem.getAttribute('data-page');
                    if (pageURL) {
                        window.location.href = pageURL;
                    }
                });
            });
        </script>
        
    </body>
</html>